/**
 * Media Query For Mobiles
 *
 * @format
 */

@media (max-width: 768px) {
  .main-cont {
    display: block;
    height: 100%;
  }
  .main-cont-left {
    width: 100%;
    height: 300px;
    max-height: 350px;
  }

  .logo {
    width: 150px;
    height: 150px;
    position: relative;
  }

  .logo h3 {
    position: relative;
    font-size: 24px;
  }
  .main-cont-right {
    width: 100%;
    position: relative;
    padding: 0px;
    padding-top: 5%;
  }

  .main-cont-right-1 {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .main-cont .main-cont-right .main-cont-right-1 .two-input {
    width: 90%;
  }
  .main-cont .main-cont-right .main-cont-right-1 .fgpass {
    margin-top: 10px;
    margin-right: 5%;
  }
  .main-cont .main-cont-right .main-cont-right-1 button {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .New-navbar .right .text-div p {
    font-size: 16px;
  }
  .two-sec-head {
    padding-top: 20px;
    display: block;
  }
  .two-sec-head p {
    font-size: var(--sm-font-size);
  }
  .two-sec-head button {
    padding: 10px;
    font-size: var(--sm-font-size);
  }

  /* Dashboard */
  .dash-right-mid {
    display: block;
  }
  .dash-right-mid .mid-box {
    width: 90%;
    margin: 0;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  .dash-right-mid .mid-box .boxtxt {
    font-size: var(--sm-font-size);
    margin: 0;
  }
  .dash-right-mid .mid-box .boxcnt {
    font-size: var(--sm-heading-font-size);
    margin: 0;
  }

  /* Dashboard Table */
  .ColorTable-head p {
    font-size: var(--sm-heading-font-size);
  }
  .ColorTable {
    table-layout: auto;
    width: 90%;
  }
  .ColorTable button {
    font-size: var(--sm-font-size);
    width: 100%;
  }

  .dash-cont {
    padding-top: 20px;
  }
  .dash-cont h3 {
    font-size: var(--sm-heading-font-size);
  }

  /* ---------------------------- */
  .textAre-div {
    display: block;
    width: 100%;
  }
  .textAre-div .right {
    width: 90% !important;
    margin: auto;
  }
  .textAre-div .left-div {
    width: 100% !important;
    margin: 0;
    padding: 10px;
  }
  .textAre-div .right h3 {
    font-size: var(--sm-heading-font-size);
  }
  .textAre-div .right p {
    font-size: var(--sm-font-size);
  }
  .textAre-div .right button {
    font-size: var(--sm-font-size);
    width: 40%;
  }
  .addtop2cont1 input {
    width: 100%;
    font-size: var(--sm-font-size);
  }
  .addtop2cont2 {
    display: block;
    width: 100%;
  }
  .addtop2cont2itm {
    width: 100%;
    font-size: var(--sm-font-size);
    margin: 0;
    margin-top: 5px;
  }
  .addtop2cont3 textarea {
    width: 100%;
    font-size: var(--sm-font-size);
    height: 100px;
  }
  .addtop2cont4 button {
    width: 100%;
  }
  .mainTable {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .mainTable .ColorTable {
    table-layout: auto;
    overflow: auto;
    width: 100%;
  }
  .mainTable .ColorTable button {
    width: 100%;
  }

  /* ----------------------------------------- */
  .profileId {
    font-size: var(--sm-font-size);
  }
  .Profile {
    display: block;
    margin: 0;
    width: 100%;
  }
  .Profile .left-div {
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
  }
  .Profile .right {
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
  }
  .Profile .left-div .head {
    font-size: var(--sm-heading-font-size);
  }
  .Profile .left-div .head2 {
    font-size: var(--sm-font-size);
  }
  .Profile .left-div img {
    width: 50px;
    height: 50px;
  }
  .Profile .right button {
    font-size: var(--sm-font-size);
  }

  .ProfileSecond {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .ProfileSecond .head {
    font-size: var(--sm-heading-font-size);
  }
  .ProfileSecond .text {
    width: 100%;
    max-width: 100%;
  }

  /* ------------------------ */
  .edit-profile {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .edit-profile .left-div {
    width: 100%;
    text-align: left;
  }
  .edit-profile .left-div .head {
    font-size: var(--sm-heading-font-size);
  }
  .edit-profile .left-div .desc {
    font-size: var(--sm-font-size);
  }
  .edit-profile .left-div img {
    width: 70px;
    height: 70px;
  }
  .edit-profile .right {
    width: 100%;
    padding: 10px;
  }
  .edit-profile .right .h1 {
    font-size: var(--sm-heading-font-size);
  }
  .edit-profile .right .two-sec div label,
  .edit-profile .right .two-sec div textarea {
    font-size: var(--sm-font-size);
  }

  /* ----------------- */
  .ColorTable {
    width: 100% !important;
    padding: 10px;
    table-layout: auto;
  }
  .mainTable {
    width: 100% !important; 
  }
  .mainTable .ColorTable-head {
    width: 100% !important;
  }

  /* --------------------- */
    .two-sec-head-2{
        display: block;
        padding-top: 20px;
    }
    .two-sec-head-2 .left-div {
        width: 100%;

    }
    .two-sec-head-2 .left-div p{
        font-size: var(--sm-heading-font-size);
    }
    .two-sec-head-2

}
