/* Media Query For Mobiles */
@media (max-width: 768px) {
    .main-cont {
      display: block;
      height: 100%;
    }
    .main-cont-left {
      width: 100%;
      height: 300px;
      max-height: 350px;
    }
  
    .logo {
      width: 150px;
      height: 150px;
      position: relative;
    }
  
    .logo h3 {
      position: relative;
      font-size: 24px;
    }
    .main-cont-right {
      width: 100%;
      position: relative;
      padding: 0px;
      padding-top: 5%;
    }
  
    .main-cont-right-1 {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transform:none;
    }
    .main-cont .main-cont-right .main-cont-right-1 .two-input{
      width: 90%;
    }
    .main-cont .main-cont-right .main-cont-right-1 .fgpass{
      margin-top: 10px;
      margin-right: 5%;
    }
    .main-cont .main-cont-right .main-cont-right-1 button{
      width: 90%;
      margin: auto;
      margin-top:10px ;
    }
    .New-navbar .right .text-div p{
      font-size: 16px;
    }
    .two-sec-head{
      padding-top: 20px;
      display: block;
    }
    .two-sec-head p{
      font-size: var(--sm-font-size);
    }
    .two-sec-head button{
        padding: 10px;
        font-size: var(--sm-font-size);

    }
  

    /* Dashboard */
    .dash-right-mid {
        display: block;
    }
    .dash-right-mid .mid-box{
        width: 90%;
        margin: 0;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    .dash-right-mid .mid-box 
  
  }